# Grafana Datasources Provisioning
# operator-996 Platform

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: "15s"

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    database: operator996_dev
    user: dev_user
    secureJsonData:
      password: ${DB_PASSWORD}
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 5
      connMaxLifetime: 14400
      postgresVersion: 1400
      timescaledb: true
    editable: false
